body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: aliceblue;
    background-color: rgb(37, 35, 35);
}
.container {
    background-color: rgb(59, 58, 58);
}